body {
  background: white;
  color: white;
}

.navbar {
  border-bottom: white;
}

.toggle-icon {
  color: #24c8ff;
}

/* #first-section-body .fas,
.far {
  font-size: 60px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 50%;
} */

.social-icons {
  font-size: 20px;
  border: 2px solid white;
  padding: 8px;
  border-radius: 50%;
}

.social-icons:hover {
  color: #4a4a4a;
  background-color: white;
}

#first-section-body .fas,
.far {
  font-size: 60px;
}

#home-section {
  /* background: url(); */
  background-color: white;
  min-height: 500px;
}

#first-section-head {
  background: url(./clean-kitchen.jpeg);
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
}

#contact {
  background: url(./trust-us.jpeg);
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 200px;
}

/* Dark overlay over image */
/* #home-section .dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px;
} */

#home-section .home-inner {
  padding-top: 130px;
  padding-left: 70px;
}

#hero-title {
  color: #222;
  font-weight: 700;
  font-family: Arial;
}

#hero-info {
  font-weight: 300;
  color: #222;
}

.btn-blue {
  color: #fff;
  background-color: #24c8ff;
  border-color: #24c8ff;
}

.btn-blue:hover {
  color: #fff;
  background-color: #66d9ff;
  border-color: #66d9ff;
}

/* About Team Section */

.links {
  text-decoration: none;
  padding-bottom: 0.3em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(33, 33, 33, 0.3);
  line-height: 2rem;
  color: #24c8ff;
}

.links:hover {
  color: #66d9ff;
}

.about-team-blue {
  color: 24c8ff;
  border-color: #24c8ff;
}

.blue {
  color: #24c8ff;
}

.p-text {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8em;
  text-transform: none;
  color: #222;
}

.padding-top-0 {
  padding-top: 0 !important;
}

.services-section-text {
  font-weight: 600;
  font-style: normal;
  font-size: 15.25px;
  letter-spacing: 0.1em;
  line-height: 1.55em;
  text-transform: uppercase;
}

/* Trust Section */
.h2-title {
  color: #4a4a4a;
  font-weight: 600;
}

.h3-text {
  font-weight: 600;
  font-style: normal;
  font-size: 15.25px;
  letter-spacing: 0.1em;
  line-height: 1.55em;
  text-transform: uppercase;
}

#trust-section-head {
  background: url(./trust-us.jpg);
  background-repeat: no-repeat;
  background-color: white;
  background-size: cover;
  background-attachment: fixed;
  min-height: 400px;
}

.fit-image {
  width: 100%;
  object-fit: cover;
  height: 400px; /* only if you want fixed height */
}

.image-size-600 {
  max-height: 600px;
}

.testimonial-text {
  font-weight: 600;
  font-style: normal;
  font-size: 45px;
  letter-spacing: 0em;
  line-height: 1.1em;
  text-transform: none;
  color: black;
}

.spaced {
  white-space: pre-line;
}

.footer {
  background-color: #002f3d;
}

a.social-links {
  text-decoration: none;
  padding-bottom: 0.3em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(33, 33, 33, 0.3);
  line-height: 2rem;
  color: white;
}

.social-links:hover {
  text-decoration: none;
  padding-bottom: 0.3em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(33, 33, 33, 0.3);
  line-height: 2rem;
  color: black;
}

.footer-link {
  text-decoration: none;
  line-height: 2rem;
  color: white;
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.footer-link:hover {
  color: white;
  transition: border-color 0.15s ease-out, color 0.15s ease-out;
}

.list-deco-none {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.p-text-footer {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  letter-spacing: 0em;
  line-height: 1.8em;
  text-transform: none;
  color: #fff;
}

.h3-footer-title {
  font-weight: 600;
  font-style: normal;
  font-size: 15.25px;
  letter-spacing: 0.1em;
  line-height: 1.55em;
  text-transform: uppercase;
}

#img-alignment {
  text-align: end;
}

#services-page-section {
  padding-top: 130px;
}

#section-testimonials {
  padding-top: 130px;
}

#section-contact {
  padding-top: 130px;
}

.avatar {
  vertical-align: middle;
  width: 50%;
  height: 100%;
  border-radius: 50%;
}

.testimonial-header-style {
  padding-left: 5%;
  display: flex;
  flex-flow: column;
  padding-top: 0.5rem;
}

.contact-link {
  text-decoration: none;
  line-height: 2rem;
  color: #222;
  padding-bottom: 0.05em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(255, 255, 255, 0.3);
}

.contact-link:hover {
  color: rgba(107, 107, 107, 0.9);
  transition: border-color 0.15s ease-out, color 0.15s ease-out;
}

.testimonials-align-center {
  text-align: -webkit-center;
}

.testimonials-align-left {
  text-align: -webkit-left;
}
